<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
<header th:insert="~{blocks/header :: header}"></header>

<main class="container">
    <h1>Check in</h1>
    <form th:action="@{/reg}" method="post">
        <input type="text" name="username" class="from-control" placeholder="Enter a name"><br>
        <input type="password" name="password" class="from-control" placeholder="Enter a password"><br>
        <input type="email" name="email" class="from-control" placeholder="Enter an email"><br>
        <input type="submit" value="Check in" class="btn btn-success">
    </form>
</main>

<header th:replace="~{blocks/footer :: footer}"></header>
</body>
</html>